NEXT_PUBLIC_APP_NAME=RentApplicaiton
NEXT_PUBLIC_APP_ENV=development
# Point to reverse proxy path so the frontend hits the same origin.
NEXT_PUBLIC_API_URL=/api/v1
NEXT_PUBLIC_PRIMARY_CURRENCY=MVR
NEXT_PUBLIC_SECONDARY_CURRENCY=USD

